Project2/P2T5ConsoleAppWebServiceClientProject/src/META-INF/wsdl/localhost_8080/ReadStudentDatabaseProject/StudentListService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kmakaew.andrew.cmu.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://kmakaew.andrew.cmu.edu/" name="StudentListService">
<types>
<xsd:schema>
<xsd:import namespace="http://kmakaew.andrew.cmu.edu/" schemaLocation="http://localhost:8080/ReadStudentDatabaseProject/StudentListService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteStudent">
<part name="parameters" element="tns:deleteStudent"/>
</message>
<message name="deleteStudentResponse">
<part name="parameters" element="tns:deleteStudentResponse"/>
</message>
<message name="readStudent">
<part name="parameters" element="tns:readStudent"/>
</message>
<message name="readStudentResponse">
<part name="parameters" element="tns:readStudentResponse"/>
</message>
<message name="createStudent">
<part name="parameters" element="tns:createStudent"/>
</message>
<message name="createStudentResponse">
<part name="parameters" element="tns:createStudentResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="findAllStudentNames">
<part name="parameters" element="tns:findAllStudentNames"/>
</message>
<message name="findAllStudentNamesResponse">
<part name="parameters" element="tns:findAllStudentNamesResponse"/>
</message>
<portType name="StudentListService">
<operation name="deleteStudent">
<input wsam:Action="http://kmakaew.andrew.cmu.edu/StudentListService/deleteStudentRequest" message="tns:deleteStudent"/>
<output wsam:Action="http://kmakaew.andrew.cmu.edu/StudentListService/deleteStudentResponse" message="tns:deleteStudentResponse"/>
</operation>
<operation name="readStudent">
<input wsam:Action="http://kmakaew.andrew.cmu.edu/StudentListService/readStudentRequest" message="tns:readStudent"/>
<output wsam:Action="http://kmakaew.andrew.cmu.edu/StudentListService/readStudentResponse" message="tns:readStudentResponse"/>
</operation>
<operation name="createStudent">
<input wsam:Action="http://kmakaew.andrew.cmu.edu/StudentListService/createStudentRequest" message="tns:createStudent"/>
<output wsam:Action="http://kmakaew.andrew.cmu.edu/StudentListService/createStudentResponse" message="tns:createStudentResponse"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://kmakaew.andrew.cmu.edu/StudentListService/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://kmakaew.andrew.cmu.edu/StudentListService/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
<operation name="findAllStudentNames">
<input wsam:Action="http://kmakaew.andrew.cmu.edu/StudentListService/findAllStudentNamesRequest" message="tns:findAllStudentNames"/>
<output wsam:Action="http://kmakaew.andrew.cmu.edu/StudentListService/findAllStudentNamesResponse" message="tns:findAllStudentNamesResponse"/>
</operation>
</portType>
<binding name="StudentListServicePortBinding" type="tns:StudentListService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllStudentNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentListService">
<port name="StudentListServicePort" binding="tns:StudentListServicePortBinding">
<soap:address location="http://localhost:8080/ReadStudentDatabaseProject/StudentListService"/>
</port>
</service>
</definitions>