Project2/P2T3WebApplicationClientProject/src/conf/xml-resources/web-service-references/BookTripWebService/wsdl/localhost_8080/P2T2WebServiceProject/BookTripWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://p2t2webserviceproject/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://p2t2webserviceproject/">

<xs:element name="bookTrip" type="tns:bookTrip"/>

<xs:element name="bookTripResponse" type="tns:bookTripResponse"/>

<xs:complexType name="bookTrip">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookTripResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>